@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 10px;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-size: 10px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
  appearance: none;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("EBGaramond-Bold.ttf") format("truetype");
  src: url("EBGaramond-BoldItalic.ttf") format("truetype"), url("EBGaramond-ExtraBold.ttf") format("truetype"), url("EBGaramond-ExtraBoldItalic.ttf") format("truetype"), url("EBGaramond-Italic.ttf") format("truetype"), url("EBGaramond-Medium.ttf") format("truetype"), url("EBGaramond-MediumItalic.ttf") format("truetype"), url("EBGaramond-Regular.ttf") format("truetype"), url("EBGaramond-SemiBold.ttf") format("truetype"), url("EBGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

html {
  font-family: "Zen Kaku Gothic New","Lato","Kumbh Sans", sans-serif;
  font-size: 0.83333333333333vw;
  background: #F8F8F8;
}

@media screen and (min-width: 1250px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 2.666666666667vw;
    max-width: 100%;
    overflow-x: hidden;
  }
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

body {
  min-width: auto;
  margin: 0 auto;
  font-size: 1.6rem;
  position: relative;
  width: 100%;
  overflow-y: visible;
}

.Inner {
  max-width: 1250px;
  min-width: auto;
  margin: 0 auto;
}

@media screen and (min-width: 1980px) {
  .Inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
  }
}

.Inner--min {
  max-width: 980px;
}

@media screen and (max-width: 768px) {
  .Inner--min {
    max-width: 100%;
    padding: 0;
  }
}

.Btn {
  text-decoration: none;
  display: flex;
  width: 255px;
  height: 50px;
  padding: 0px 4px 1px 4px;
  align-items: center;
  gap: -2px;
  color: #1386FF;
  flex-shrink: 0;
  border-radius: 100px;
  border-radius: 100px;
  border: 2px solid #8EC5FF;
  background: #FFF;
  position: relative;
  /* text shadow */
}

.Btn span {
  font-size: 2rem;
  text-align: center;
  padding-left: 50px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.Btn__blue {
  box-shadow: 0px 5px 14px 0px rgba(6, 122, 242, 0.32);
  border: 2.5px solid #8EC5FF;
  color: white;
  background: var(--gradient-blue, linear-gradient(91deg, #1386FF -5.23%, #056CD6 100.86%));
}

.Btn__blue span {
  color: white;
}

.Btn::after {
  content: '';
  position: absolute;
  background-image: url("/images/common/btn_arrow.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 13px;
  height: 16px;
  display: inline-block;
  right: 50px;
}

/*========= ナビゲーションのためのCSS ===============*/
#g-nav {
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position: fixed;
  z-index: -1;
  opacity: 0;
  /*はじめは透過0*/
  /*ナビの位置と形状*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #999;
  /* 背景色 */
  /*動き*/
  transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive {
  opacity: 1;
  z-index: 999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  display: none;
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  /* menuの範囲 */
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
  display: block;
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: red;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  /*  線の位置*/
  height: 3px;
  /*  線の太さ*/
  border-radius: 2px;
  background-color: #666;
  /* ボタンの色*/
  width: 45%;
  /*  ボタンに対する線の長さ*/
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*-----スライダーのためのcss------*/
.slider {
  position: relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  padding: 0;
}

.slider-item {
  width: 100%;
  /*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
  /*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  background-repeat: no-repeat;
  /*背景画像をリピートしない*/
  background-position: center;
  /*背景画像の位置を中央に*/
  background-size: cover;
  /*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  z-index: 3;
  top: 50%;
  /*矢印の位置*/
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid red;
  /*矢印の色*/
  border-right: 2px solid red;
  /*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: 2.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: -50px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  /*ドットボタンのサイズ*/
  height: 8px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #ccc;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}

.swiper-slide {
  margin-left: 4rem;
}

/* スライドの動き等速 */
.slider-container {
  position: absolute;
  overflow: hidden;
  width: 200%;
  transform: rotate(42deg);
  left: -17%;
}

@media screen and (max-width: 768px) {
  .slider-container {
    display: none;
  }
}

.slider {
  width: 10%;
  margin-bottom: 2rem;
  position: relative;
}

.slider:nth-child(2) .slides {
  margin-left: 10rem;
}

.slider:nth-child(3) .slides {
  margin-left: 20rem;
}

.slides {
  display: flex;
  width: 80%;
  /* スライドの総幅を900%に変更 */
  animation: slide var(--duration, 150s) linear infinite;
}

.slides .swiper-slide img {
  width: 32rem;
}

.slides.alternate {
  animation: slide_alternate var(--duration, 100s) linear infinite;
}

.slide {
  flex-basis: 30%;
  /* スライドの幅を30%に設定 */
  max-width: 32rem;
  /* スライドの最大幅を300pxに制限 */
  margin: 0 10px;
  /* スライドの左右に0.5remの余白 */
  display: flex;
  align-items: center;
}

.slide i {
  flex-basis: var(--logo-width, 50%);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
    /* スライドの総幅に合わせて-90%に変更 */
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper {
  margin-top: 6rem;
}

@media screen and (max-width: 768px) {
  .swiper {
    margin-top: 4rem;
  }
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  /* スライド幅を自動計算 */
  height: 300px;
  width: 29.3;
  margin-left: 0;
  margin-right: 4rem;
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    width: 33.5rem !important;
    height: 100%;
    margin: 0 auto;
    /* margin-left: auto; */
    /* margin: 0 auto; */
    margin-left: 4.1rem;
    /* margin-right: auto; */
    position: relative;
    transition-property: transform;
  }
}

.swiper-wrapper-active {
  display: none;
}

.swiper-pagination-bullets {
  width: 100px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: #fff;
}

.swiper-slide:empty {
  display: none;
  /* 空のスライドを非表示 */
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 17rem !important;
  left: 0;
  width: 100%;
}

.Header {
  max-width: 1250px;
  margin: 0 auto;
  position: sticky;
  top: 1rem;
  z-index: 100;
  display: flex;
  border-radius: 35px;
  background: rgba(255, 255, 255, 0.808);
  backdrop-filter: blur(12px);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.07));
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: .5rem;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .Header {
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .Header__left {
    display: none;
  }
}

.Header__left__item img {
  width: 5rem;
}

@media screen and (max-width: 768px) {
  .Header__right {
    display: none;
  }
}

.Header__right__nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 23px;
}

.Header__right__nav__item a {
  color: #016DC3;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 2rem;
}

.Header .btn-contact {
  border-radius: 26px;
  background: var(--gradient-blue, linear-gradient(91deg, #1386FF -5.23%, #056CD6 100.86%));
  color: #FFF;
  font-size: 2rem;
  font-style: normal;
  padding: 1rem 2rem;
  margin-left: 2rem;
  font-weight: 500;
  line-height: normal;
}

.Hum {
  display: block;
  visibility: visible;
  cursor: pointer;
  position: fixed;
  width: fit-content;
  left: 28rem;
  width: 7.3rem;
  top: 2rem;
  font-size: 2rem;
  text-align: center;
  line-height: 2.7rem;
  color: #016DC3;
  height: 3.3rem;
  font-weight: 500;
  backdrop-filter: blur(12px);
  z-index: 100;
  background: rgba(255, 255, 255, 0.691);
  border: solid 0.18rem #016cc385;
  border-radius: 2rem;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.178));
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 1250px) {
  .Hum {
    display: none;
  }
}

@media screen and (min-width: 1250px) {
  .Hum {
    display: none;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  /* 非表示状態でクリックできないようにする */
}

.bar {
  position: fixed;
  width: 20rem;
  text-align: left;
  border-radius: 2rem;
  z-index: 200;
  background: white;
  left: 15rem;
  top: 1rem;
  padding-left: 1rem;
  padding: 1rem;
  scroll-behavior: auto;
}

@media screen and (min-width: 1250px) {
  .bar {
    display: none;
  }
}

.bar__nav {
  position: relative;
  top: -2.5rem;
}

.bar__nav__item {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.bar__nav__item a {
  color: #016DC3;
  font-size: 2rem;
  font-weight: 700;
}

.close {
  display: none !important;
}

@media screen and (min-width: 1250px) {
  .close {
    display: none;
  }
}

.exit {
  text-align: center;
  line-height: 2.7rem;
  color: #868686;
  height: 3.3rem;
  font-weight: 500;
  backdrop-filter: blur(12px);
  z-index: 100;
  background: rgba(255, 255, 255, 0.691);
  border: solid 0.18rem #868686;
  font-size: 2rem;
  border-radius: 2rem;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.178));
  width: 7.3rem;
  margin-left: 12rem;
}

@media screen and (min-width: 1250px) {
  .exit {
    display: none;
  }
}

.close {
  display: none;
}

.Fv {
  height: 100vh;
  /* ビューポートの高さ全体 */
  width: 100vw;
  background-image: url("/images/fv_background.png");
  position: relative;
  overflow: hidden;
  top: -6rem;
}

@media screen and (max-width: 768px) {
  .Fv {
    background-image: url(/images/fv_background.png);
    overflow: hidden;
    height: 100vh;
    padding-top: 0rem;
  }
}

.Fv__container {
  height: 100vh;
  display: flex;
}

.Fv__container__left {
  display: flex;
  align-items: center;
}

.Fv__container__text {
  width: 100%;
  padding-left: 10%;
}

@media screen and (max-width: 768px) {
  .Fv__container__text {
    padding-left: 1rem;
    width: 90%;
    margin: 0 auto;
  }
}

.Fv__container__text__ttl {
  font-size: 9.6rem;
  font-weight: 500;
  line-height: 9.0rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .Fv__container__text__ttl {
    font-size: 6.5rem;
    line-height: 6.0rem;
  }
}

.Fv__container__text__dis {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3.2rem;
}

@media screen and (max-width: 768px) {
  .Fv__container__text__dis {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

.Fv__container__text .Btn {
  margin-top: 50px;
}

.About {
  margin-top: 13rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 768px) {
  .About {
    margin-top: 0rem;
    padding-left: 1.5rem;
    width: 100%;
    overflow-x: hidden;
  }
}

.About__txt__ttl {
  color: #191919;
  font-family: "Lato", serif;
  font-weight: 500;
  font-family: Lato;
  font-size: 4.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.258rem;
}

.About__txt__dis {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--gradient-blue, linear-gradient(91deg, #1386FF -5.23%, #056CD6 100.86%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.About__container {
  margin-top: 1.6rem;
  display: flex;
  gap: 6rem;
}

@media screen and (max-width: 768px) {
  .About__container {
    display: block;
  }
}

.About__container__left__profile img {
  width: 35.2rem;
  height: 35.1rem;
}

@media screen and (max-width: 768px) {
  .About__container__left__profile img {
    width: 30.2rem;
    height: 30.1rem;
  }
}

.About__container__right {
  background: #F8F8F8;
  padding-top: 2.3rem;
  padding-right: 2.5rem;
  position: relative;
}

.About__container__right::before {
  background-image: url(/images/common/dot_background.png);
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  left: 63rem;
  width: 49rem;
  height: 30rem;
  background-size: 56% auto;
  top: -5rem;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .About__container__right::before {
    display: block;
    left: 6rem;
    width: 49rem;
    height: 30rem;
  }
}

.About__container__right__ttl {
  color: #000;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.About__container__right__dis {
  margin-top: 0.5rem;
  color: #000;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
  /* 169.231% */
}

.About__container__right__name {
  padding-right: 1rem;
  position: relative;
  padding-top: 2rem;
  text-align: right;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.272rem;
}

.About__container__right__name::after {
  top: 5rem;
  right: -4rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none"%3E%3Cpath d="M1 9.91772L9.47365 9.47364L9.02957 0.999988" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 4.6rem;
}

@media screen and (max-width: 768px) {
  .About__container__right__name::after {
    display: none;
  }
}

.Misson {
  flex-shrink: 0;
  margin-top: 10rem;
  color: white;
}

.Misson__container {
  height: 42.4rem;
  border-radius: 0px 20px 20px 0px;
  padding-top: 5rem;
  position: relative;
  font-weight: 500;
  padding-left: 2rem;
  margin-right: 1rem;
  padding-right: 1.5rem;
  background: var(--back-blue, linear-gradient(180deg, #0AF 0%, #083DF5 115.91%));
}

@media screen and (max-width: 768px) {
  .Misson__container {
    height: 81.4rem;
    padding-top: 2rem;
  }
}

.Misson__container::before {
  content: '';
  background: var(--back-blue, linear-gradient(180deg, #0AF 0%, #083DF5 115.91%));
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
}

.Misson__container__ttl {
  color: #FFF;
  margin-top: 4rem;
}

.Misson__container__ttl::before {
  background-image: url(/images/common/dot_background.png);
  content: '';
  display: block;
  position: absolute;
  left: 5rem;
  width: 27rem;
  height: 100%;
  background-size: 120% auto;
  top: -5rem;
  z-index: -1;
}

.Misson__container__ttl__dis {
  color: white;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}

.Misson__container__ttl__dis::after {
  top: -1rem;
  left: -1rem;
  background-image: url('data:image/svg+xml,%3Csvg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.72754 1.24268H1.24226V9.72796" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 4.6rem;
  transform: rotate(0deg);
  transform-origin: center;
}

.Misson__container__ttl__h2 {
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.52px;
}

.Misson__container__content {
  color: #FFF;
  padding-top: 10px;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  position: relative;
}

.Misson__container__content::after {
  position: absolute;
  background-image: url(/images/Ellipse.png);
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  left: -118rem;
  width: 145rem;
  height: 119rem;
  top: -84rem;
  z-index: 1;
}

.Skill {
  margin-top: 20rem;
}

@media screen and (max-width: 768px) {
  .Skill {
    width: 90%;
    margin: 10rem auto;
  }
}

.Skill__head {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 768px) {
  .Skill__head {
    display: block;
  }
}

.Skill__head::after {
  top: -4rem;
  left: -1rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none"%3E%3Cpath d="M1 9.91772L9.47365 9.47364L9.02957 0.999988" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 4.6rem;
  transform: rotate(183deg);
  transform-origin: center;
}

.Skill__head__txt__ttl {
  color: #191919;
  font-family: "Lato", serif;
  font-weight: 500;
  font-size: 4.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.58px;
}

.Skill__head__txt__dis {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--gradient-blue, linear-gradient(91deg, #1386FF -5.23%, #056CD6 100.86%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Skill__head__con {
  width: 80%;
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.3rem;
  /* 176.923% */
}

@media screen and (max-width: 768px) {
  .Skill__head__con {
    margin-top: 1rem;
    font-size: 1.6rem;
    width: 100%;
  }
}

.Skill__first img {
  width: 13.1rem;
  height: 13.1rem;
}

.Skill__items {
  margin-top: 6rem;
  position: relative;
}

.Skill__items::after {
  top: 40rem;
  right: -4rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none"%3E%3Cpath d="M1 9.91772L9.47365 9.47364L9.02957 0.999988" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 4.6rem;
}

@media screen and (max-width: 768px) {
  .Skill__items::after {
    display: none;
  }
}

.Skill__items__flex {
  display: flex;
  justify-content: center;
  max-width: 95rem;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .Skill__items__flex {
    justify-content: flex-start;
  }
}

.Skill__items__flex__item {
  width: 15.5rem;
  margin: 0 3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .Skill__items__flex__item {
    width: 10.5rem;
  }
}

.Skill__items__flex__item__ttl {
  color: #016DC3;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 2rem;
  text-align: center;
}

.Skill__items__flex__item__txt {
  text-align: center;
  font-size: 1rem;
  line-height: 1.3rem;
}

.Skill__items__flex__item img {
  width: 15.5rem;
  margin-bottom: .5rem;
}

@media screen and (max-width: 768px) {
  .Skill__items__flex__item img {
    width: 11.5rem;
  }
}

.Service {
  margin-top: 15rem;
}

@media screen and (max-width: 768px) {
  .Service {
    width: 95%;
    margin: 15rem auto;
  }
}

.Service__head__ttl {
  color: var(--blue, #067AF2);
  text-align: center;
  /* text shadow */
  text-shadow: 0rem 0.5rem 1.4rem rgba(6, 122, 242, 0.32);
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.252rem;
}

.Service__head__dis {
  color: #000;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 1rem auto;
}

.Service__items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .Service__items {
    display: block;
  }
}

.Service__items__item {
  position: relative;
  flex: 1;
  /* 均等に幅を分配 */
  margin: 0 5rem;
}

.Service__items__item:nth-of-type(1) img {
  width: 18rem;
  left: 6rem;
}

@media screen and (max-width: 768px) {
  .Service__items__item:nth-of-type(1) img {
    left: 4rem;
  }
}

.Service__items__item:nth-of-type(2) img {
  left: 5rem;
}

@media screen and (max-width: 768px) {
  .Service__items__item:nth-of-type(2) img {
    left: 4rem;
  }
}

.Service__items__item:nth-of-type(3) img {
  left: 2.5rem;
}

@media screen and (max-width: 768px) {
  .Service__items__item:nth-of-type(3) img {
    left: 0rem;
  }
}

.Service__items__item__container {
  padding-top: 5rem;
  border-radius: 1.6rem;
  z-index: -1;
  position: relative;
  margin-top: 10rem;
  background: rgba(210, 210, 210, 0.22);
  padding-top: 13rem;
  padding-bottom: 0.5rem;
  border-radius: 1.6rem;
  background: rgba(210, 210, 210, 0.22);
}

.Service__items__item__container__ttl {
  color: var(--blue, #067AF2);
  text-align: center;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.126rem;
}

.Service__items__item__container__dis {
  color: #000;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 2rem;
}

.Service__items__item img {
  display: block;
  height: 20rem;
  margin: 0 auto;
  position: absolute;
}

.Service__items__item__head {
  width: 10rem;
  line-height: 3.89rem;
  color: #D2D2D2;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 5.5rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.114rem;
}

.Service__items__item__head span {
  color: #D2D2D2;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.114rem;
}

.Works {
  width: 100%;
  background: linear-gradient(180deg, #0AF 0%, #001971 115.91%);
  height: 72.6rem;
  margin-top: 15rem;
}

@media screen and (max-width: 768px) {
  .Works {
    height: 84rem;
    overflow-x: scroll;
  }
}

.Works__head {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 768px) {
  .Works__head {
    display: block;
    margin-left: 3rem;
  }
}

.Works__head::after {
  top: 4rem;
  left: -1.4rem;
  background-image: url('data:image/svg+xml,%3Csvg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.72754 1.24268H1.24226V9.72796" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 4.6rem;
  transform: rotate(0deg);
  transform-origin: center;
}

.Works__head__title__ttl {
  color: white;
  font-weight: 500;
  font-size: 4.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 2.58px;
}

.Works__head__title__dis {
  color: white;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4;
}

.Works__head__container {
  width: 80%;
  color: #ffffff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

.Works__items {
  margin-top: 72px;
  display: flex;
  gap: 30px;
}

.Works__items__item {
  border-radius: 14px;
  background: linear-gradient(180deg, #FFF 64.04%, #C0DCFF 100%);
  width: 293px;
  height: 351px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .Works__items__item {
    height: 35.7rem;
    width: 86%;
  }
}

.Works__items__item__head {
  text-align: center;
}

.Works__items__item__head img {
  height: 16.3rem;
}

@media screen and (max-width: 768px) {
  .Works__items__item__head img {
    width: 28.3rem;
    height: auto;
  }
}

.Works__items__item__ttl {
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--blue, #2a3036);
  font-size: 1.9rem;
  font-style: normal;
  margin-top: 0.8rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.126rem;
}

.Works__items__item__categoris {
  display: flex;
  gap: 0.8rem;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
}

.Works__items__item__categoris__categori {
  height: 0.5rem;
  padding: 0.5rem;
  display: inline-flex;
  padding: 0.8rem 1rem 0.9rem 0.9rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.1rem solid #87CAFF;
  background: rgba(255, 255, 255, 0.88);
  color: #016DC3;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.06rem;
}

.Works__items__item__content {
  margin-top: .2rem;
  padding: 1rem;
  color: #66696C;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 1rem;
}

.Works .Btn {
  margin: 8rem auto;
  width: 22.7rem;
  font-weight: 700;
}

.Works .Btn::after {
  content: '';
  position: absolute;
  background-image: url("/images/common/btn_arrow_blue.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(35%) sepia(100%) saturate(500%) hue-rotate(200deg) brightness(90%) contrast(100%);
  width: 1.3rem;
  height: 1.6rem;
  display: inline-block;
  right: 50px;
}
