.About{
    margin-top: 13rem;
    width: 100%;
    overflow-x: hidden;
    // margin-top: 13rem;
    overflow-y: hidden;
    @include sp {
        margin-top: 0rem;
        padding-left: 1.5rem;
        width: 100%;
        overflow-x: hidden;
    }
    &__txt{
        &__ttl{
            color: #191919;
            @include Lato;
            font-family: Lato;
            font-size: 4.3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.258rem;
        }
        &__dis{
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: var(--gradient-blue, linear-gradient(91deg, #1386FF -5.23%, #056CD6 100.86%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__container{
        margin-top: 1.6rem;
        display: flex;
        gap: 6rem;
        @include sp{
            display: block;
            
        }
        &__left{
            &__profile{
                img{
                    width: 35.2rem;
                    height: 35.1rem;
                    @include sp{
                        width: 30.2rem;
                        height: 30.1rem;
                    }
                }
            }
        }
        &__right{
            background: #F8F8F8;
            padding-top: 2.3rem;
            padding-right: 2.5rem;
            position: relative;
            &::before{
                background-image: url(/images/common/dot_background.png);
                content: '';
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                left: 63rem;
                width: 49rem;
                height: 30rem;
                background-size: 56% auto;
                top: -5rem;
                z-index: -1;
                @include sp{
                    display: block;
                    left: 6rem;
                    width: 49rem;
                    height: 30rem;
                }
                }
            &__ttl{
                color: #000;
                font-size: 2.6rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            &__dis{
                margin-top: 0.5rem;
                color: #000;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.5rem; /* 169.231% */
            }
            &__name{
                padding-right: 1rem;
                position: relative;
                padding-top: 2rem;
                text-align: right;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.272rem;
                &::after{
                    top: 5rem;
                    right: -4rem;
                    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none"%3E%3Cpath d="M1 9.91772L9.47365 9.47364L9.02957 0.999988" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
                    content: '';
                    position: absolute;
                    background-repeat: no-repeat;
                    width: 1.2rem;
                    height: 4.6rem;
                    @include sp{
                        display: none;
                    }
                }
            }
        }
    }
}