.Fv{
    height: 100vh;  /* ビューポートの高さ全体 */
    width: 100vw;
    background-image: url("/images/fv_background.png");
    &__container{
        height: 100vh;
        display: flex;
        
        &__left{
            display: flex;
            align-items: center;
        }
        
        &__text{
            width: 30%;
            padding-left: 160px;
            &__ttl{
                // margin-top: 250px;
                font-size: 9.6rem;
                font-weight: 500;
                line-height: 9.0rem;
                @include Outfit;
            }
            &__dis{
                color: rgba(0, 0, 0, 0.50);
                margin-top: 30px;
                font-size: 2rem;
                font-weight: 700;
                line-height: 32px; 
            }
            .Btn{
                margin-top: 50px;                               
            }
        }
    }
}
