.Header{
    max-width: 1250px;
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    z-index: 100;
    display: flex;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.808);
    backdrop-filter: blur(12px);
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.07));
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: .5rem;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    @include sp {
        visibility: hidden;
    }
    &__left{
        @include sp {
            display: none;
        }
        &__item{
            img{
                width: 5rem;
            }
        }
    }
    &__right{
        @include sp {
            display: none;
        }
        &__nav{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 23px;
           &__item{
            a{
                color: #016DC3;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 2rem;
            }
            
           }
        }
    }
    .btn-contact{
        border-radius: 26px;
        background: var(--gradient-blue, linear-gradient(91deg, #1386FF -5.23%, #056CD6 100.86%));
        color: #FFF;
        font-size: 2rem;
        font-style: normal;
        padding: 1rem 2rem ;
        margin-left: 2rem;
        font-weight: 500;
        line-height: normal;
    }
}

.Hum{
    @include pc{
        display: none;
    }
    display: block;
    visibility: visible;
    cursor: pointer;
    position: sticky;
    width: fit-content;
    left: 28rem;
    width: 7.3rem;
    top: 2rem;
    font-size: 2rem;
    text-align: center;
    line-height: 2.7rem;
    color: #016DC3;
    height: 3.3rem;
    font-weight: 500;
    backdrop-filter: blur(12px);
    z-index: 100;
    background: rgba(255, 255, 255, 0.691);
    border: solid 0.18rem #016cc385;
    border-radius: 2rem;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.178));
    transition: opacity 0.3s ease;
    @include pc {
        display: none;
    }
}
.hidden {
    opacity: 0;
    pointer-events: none; /* 非表示状態でクリックできないようにする */
  }
  
.bar{
        position: fixed;
        width: 20rem;
        text-align: left;
        border-radius: 2rem;
        z-index: 200;
        background: white;
        left: 15rem;
        top: 1rem;
        padding-left: 1rem;
        padding: 1rem;
        scroll-behavior: auto;
        @include pc{
            display: none;
        }
    
    &__nav{
        position: relative;
        top: -2.5rem;
        &__item{
            padding-left: 2rem;
            margin-bottom: 1rem;
            a{
                color: #016DC3;
                font-size: 2rem;
                font-weight: 700;
            }
            
        }
    }
}
.close {
    display: none!important;
    @include pc{
        display: none;
    }
}
.exit{
    text-align: center;
    line-height: 2.7rem;
    color: #016DC3;
    height: 3.3rem;
    font-weight: 500;
    backdrop-filter: blur(12px);
    z-index: 100;
    background: rgba(255, 255, 255, 0.691);
    border: solid 0.18rem #016cc385;
    font-size: 2rem;
    border-radius: 2rem;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.178));
    width: 7.3rem;
    margin-left: 12rem;
    @include pc{
        display: none;
    }
}

.close{
    display: none;
}