.Service{
    margin-top: 150px;
    &__head{
        &__ttl{
            color: var(--blue, #067AF2);
            text-align: center;
            /* text shadow */
            text-shadow: 0px 5px 14px rgba(6, 122, 242, 0.32);
            font-size: 4.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2.52px;
        }
        &__dis{
           
            color: #000;

            text-align: center;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 10px auto;
        }
    }
    &__items{
         display: flex;
         width: 100%;
         justify-content: space-between;
         margin-top: 30px;
        &__item{

            flex: 1; /* 均等に幅を分配 */
            margin: 0 50px;
          
            &__container{
                padding-top: 70px;
                border-radius: 16px;
                z-index: -1;
                position: relative;
                top: -158px;
                background: rgba(210, 210, 210, 0.22);
                padding-top: 192px;
                border-radius: 16px;
                background: rgba(210, 210, 210, 0.22);
                &__ttl{
                color: var(--blue, #067AF2);
                text-align: center;
                font-size: 2.1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.26px;
                }
                &__dis{
                    color: #000;
                    text-align: center;
                    font-size: 1.3rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    padding: 20px;
                }

            }
            img{
                display: block; 
                width: 180px;
                margin: 0 auto;
            }
            &__head{
                width: 100px;
                line-height: 38.9px;
                span{
                    color: #D2D2D2;
                    @include Kumbh;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 700;
                    // line-height: normal;
                    letter-spacing: 1.14px;
                }
                    color: #D2D2D2;
                    @include Kumbh;
                    font-size: 5.5rem;
                    font-style: normal;
                    font-weight: 700;
                 
                    letter-spacing: 1.14px;
                
            }
        }
    }
}