.Skill{
    margin-top: 20rem;
    &__head{
        display: flex;
        justify-content:space-between;
        position: relative;
        &::after{
            top: -4rem;
            left: -1rem;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none"%3E%3Cpath d="M1 9.91772L9.47365 9.47364L9.02957 0.999988" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            width: 1.2rem;
            height: 4.6rem;
            transform: rotate(183deg);
            transform-origin: center; // 回転基準を中央に設定
        }
    
    &__txt{
        &__ttl{
            color: #191919;
            @include Lato;
            font-size: 4.3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2.58px;
        }
        &__dis{
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: var(--gradient-blue, linear-gradient(91deg, #1386FF -5.23%, #056CD6 100.86%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__con{
        width: 80%;
        color: #000;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.3rem; /* 176.923% */
    }
    }
&__first{
    img{
        width: 13.1rem;
        height: 13.1rem;
    }
}
    &__items{
        margin-top: 6rem;
        position: relative;
        &::after{
            top: 40rem;
            right: -4rem;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none"%3E%3Cpath d="M1 9.91772L9.47365 9.47364L9.02957 0.999988" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            width: 1.2rem;
            height: 4.6rem;
        }
        &__flex{
            display: flex;
            justify-content:center;
            max-width: 95rem;
            margin: 0 auto;
            width: 100%;
            flex-wrap: wrap;
            margin: 0 auto;
            &__item{
                width: 15.5rem;
                margin:0 3rem;
                img{
                    width: 15.5rem;
                    margin-bottom: 3.5rem;
                }
            }
        }
       
    }
}