.Works{
    width: 100%;
    background: linear-gradient(180deg, #0AF 0%, #001971 115.91%);
    height: 72.6rem;
    margin-top: 15rem;
    @include sp{
        
        height: 84rem;
        overflow-x:scroll;
    }
    &__head{
        max-width: 1250px;
        margin: 0 auto;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        position: relative;
        @include sp{
            display: block;
            margin-left: 3rem;
        }
        &::after{
            top: 4rem;
            left: -1.4rem;          
            background-image: url('data:image/svg+xml,%3Csvg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.72754 1.24268H1.24226V9.72796" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            width: 1.2rem;
            height: 4.6rem;
            transform: rotate(0deg);
            transform-origin: center; // 回転基準を中央に設定
        }
        &__title{
            &__ttl{
            color: white;
            font-weight: 500;
            font-size: 4.3rem;
            font-style: normal;
            font-weight: 700;
            line-height: 0.8;
            letter-spacing: 2.58px;
            }
            &__dis{
                color: white;
                font-size: 1.3rem;
                font-style: normal;
                font-weight: 500;
                line-height: 2.4;
    
            }
        }
        &__container{
            width: 80%;
            color: #ffffff;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 23px;
            }
        }
    &__items{
        margin-top: 72px;
        display: flex;
        gap: 30px;
        &__item{
            border-radius: 14px;
            background: linear-gradient(180deg, #FFF 64.04%, #C0DCFF 100%);
            width: 293px;
            height: 351px;
            @include sp {
                height: 35.7rem;
                width: 86% ;
            }
            &__head{
                img{
                 width: 29.3rem;
                 border-radius: 1.4rem;
                 height: 16.3rem;
                 @include sp {
                    width: 28.3rem;
                    height: auto;
                 }
                }
            }
            &__ttl{
                padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
                color: var(--blue, #067AF2);
                font-size: 2.1rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.126rem;
            }
            &__categoris{
                display: flex;
                gap: 0.8rem;
                margin-left: 0.8rem;
                margin-top: 0.8rem;
                &__categori{
                    height: 0.5rem;
                    margin-top: 0.5rem;
                    padding: 0.5rem;
                    display: inline-flex;
                    padding: 0.8rem 1rem 0.9rem 0.9rem;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.5rem;
                    border: 0.1rem solid #87CAFF;
                    background: rgba(255, 255, 255, 0.88);
                    color: #016DC3;
                    text-align: center;
                    font-family: "Noto Sans JP";
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.06rem;
                }
            }
            &__content{
                margin-top: 0.5rem;
                padding: 1rem;
                color: #66696C;
                font-size: 1.3rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding-bottom: 1rem;
            }
        }
    }
    .Btn{
        margin: 8rem auto;
        width: 22.7rem;
        font-weight: 700;
        &::after {
            content: '';     // 疑似要素に必須
            position: absolute;
            background-image: url('/images/common/btn_arrow_blue.png');
            background-size: cover;
            background-repeat: no-repeat;
            filter: invert(35%) sepia(100%) saturate(500%) hue-rotate(200deg) brightness(90%) contrast(100%);
            width: 1.3rem;
            height: 1.6rem;
            display: inline-block;
            right: 50px;
        }
    }
}