/* スライドの動き等速 */
.slider-container {
  position: absolute;
    overflow: hidden;
    width: 200%;
    transform: rotate(42deg);
    left: -17%;
}
.slider {
  width: 10%;
  margin-bottom: 2rem;
  position: relative;
}
.slider:nth-child(2) .slides {
  margin-left: 10rem;
}

.slider:nth-child(3) .slides {
  margin-left: 20rem;
}
.slides {
  display: flex;
  width: 80%; /* スライドの総幅を900%に変更 */ 
  animation: slide var(--duration, 150s) linear infinite;
  
  .swiper-slide {
    img {
      width: 32rem; 
    }
  }
  &.alternate {
    animation: slide_alternate var(--duration, 100s) linear infinite;
  }
}
.slide {
  flex-basis: 30%; /* スライドの幅を30%に設定 */
  max-width: 32rem; /* スライドの最大幅を300pxに制限 */
  margin: 0 10px;  /* スライドの左右に0.5remの余白 */
  display: flex;
  align-items: center;
  i {
    flex-basis: var(--logo-width, 50%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%); /* スライドの総幅に合わせて-90%に変更 */
  }
}